{{> navbar/navbar-block}}
<div class="welcomeBar">
    <h2 class="welcomeLine">Account Info</h2>
</div>
<form class="updateForm">
    <div class="row accountRow">
        <div class="col-md-3">
            <h3 id="first">First Name</h3>
            <input type="text" id="updateName1" placeholder="First Name">
        </div>
        <div class="col-md-3">
            <h3 id="last">Last Name</h3>
            <input type="text" id="updateName2" placeholder="Last Name">
        </div>
        <div class="col-md-3">
            <h3 id="email">Email</h3>
            <input type="email" id="updateEmail" placeholder="Email">
        </div>
    </div>
</form>