<div class="container text-center">
    <div class="navBar">
        <div class="row">
            <div class="col-md-4">
                <h3 id="dStream">DownStream</h3>
            </div>
            <div class="col-md-4">
                <h4 id="streams">Streams</h4>
            </div>
            <div class="col-md-4">
                <h4 id="rafts">Rafts</h4>
            </div>
        </div>
    </div>
    <div class="welcomeBar">
        <h2 class="welcomeLine">Welcome Back {Name Here}</h2>
    </div>
    <div class="row accountRow">
        <div class="col-md-4">
            <h3 id="updateUser">Update Account Info</h3>
        </div>
        <div class="col-md-4">
            <h3 id="streamsPage">Total Streams: {num}</h3>
        </div>
        <div class="col-md-4">
            <h3 id="raftsPage">Total Rafts: {num}</h3>
        </div>
    </div>

</div>