{{> navbar/navbar-block}}
<div class="welcomeBar">
    <h2 class="welcomeLine">Welcome Back {{user.first_name}} {{user.last_name}}</h2>
</div>
<div class="row accountRow">
    <div class="col-md-4">
        <h3 id="updateUser"><a href="/account">Update Account Info</a></h3>
    </div>
    <div class="col-md-4">
        <h3 id="streamsPage"><a href="/loader/streams"> Total Streams: {num}</a></h3>
    </div>
    <div class="col-md-4">
        <h3 id="raftsPage"><a href="/loader/rafts">Total Rafts: {num}</a></h3>
    </div>

</div>
<script src="js/dashboard.js"></script>
