<div class="container">
    <div class="row text-center">
        <div id="box1" class="box1 col-md-6">
            <h2 class="box1H2">Login</h2>
            <div class="loginForm">
                <form class="login">
                    <h3>Welcome Back</h3>
                    <div class="form-group">
                        <label for="logEmail">Email:</label>
                        <input type="email" class="form-control" id="logEmail" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="logPass">Password:</label>
                        <input type="password" class="form-control" id="logPass" placeholder="Password">
                    </div>
                    <button type="submit" id="loginBtn" class="btn btn-default">Enter DownStream</button>
                </form>
            </div>
        </div>
        <div id="box2" class="box2 col-md-6">
            <h2 class="box2H2">Create User</h2>
            <div class="createForm">
                <form class="signup">
                    <div class="form-group">
                        <label for="name1">First Name:</label>
                        <input type="text" class="form-control" id="name1" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <label for="name2">Last Name:</label>
                        <input type="text" class="form-control" id="name2" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <label for="createEmail">Email:</label>
                        <input type="email" class="form-control" id="createEmail" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="createPass">Password:</label>
                        <input type="password" class="form-control" id="createPass" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="confirmPass">Confirm Password:</label>
                        <input type="password" class="form-control" id="confirmPass" placeholder="Confirm Password">
                    </div>
                    <button type="submit" id="createBtn" class="btn btn-default">Create User</button>
                </form>
            </div>
        </div>
    </div>
    <div class="brandStatement text-center">
        <h1><Strong>DownStream</Strong> The Last Group Document and Messenger App You'll Use</h1>
    </div>
</div>
<script src="js/landing.js"></script>