<div class="container">
    <video autoplay muted loop id="myVideo"><source id="vidSource" src={{video}} type="video/mp4"></video>
    <div class="row text-center">
        <div id="box1" class="box1 col-md-6">
            <h2 class="box1H2">Login</h2>
            <div class="loginForm">
                <form class="login">
                    <h3>Welcome Back</h3>
                    <div class="form-group">

                        <input type="email" class="form-control" id="logEmail" placeholder="Email">
                    </div>
                    <div class="form-group">

                        <input type="password" class="form-control" id="logPass" placeholder="Password">
                    </div>
                    <button type="submit" id="loginBtn" class="btn btn-default">Enter DownStream</button>
                </form>
            </div>
        </div>
        <div id="box2" class="box2 col-md-6">
            <h2 class="box2H2">Create User</h2>
            <div class="createForm">
                <form class="signup">
                    <div class="form-group">

                        <input type="text" class="form-control" id="name1" placeholder="First Name">
                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" id="name2" placeholder="Last Name">
                    </div>
                    <div class="form-group">

                        <input type="email" class="form-control" id="createEmail" placeholder="Email">
                    </div>
                    <div class="form-group">

                        <input type="password" class="form-control" id="createPass" placeholder="Password">
                    </div>
                    <div class="form-group">

                        <input type="password" class="form-control" id="confirmPass" placeholder="Confirm Password">
                    </div>
                    <button type="submit" id="createBtn" class="btn btn-default">Create User</button>
                </form>
            </div>
        </div>
    </div>
    <div class="brandStatement text-center">
        <h1><Strong class="logo">downStream</Strong></h1>
         <h2 class="smallLogo">Better Documents.</h2>
         <h2 class="smallLogo2">Better Messaging.</h2>
    </div>
</div>
<script>

const videos = ["23338", "9533", "5802", "1996", "7559", "3131", "23838", "11161", "8837", "3523", "990", "21788", "10001", "930", "2466", "10427", "24515", "30613", "24216"]

function backroundVideo() {
    // console.log(videos)
    // console.log(Math.random)

    // let id = videos[Math.floor(Math.random * videos.length)]

    // console.log(id)
    
    var queryURL = `https://pixabay.com/api/videos/?key=15170324-d8c686db95eec1155d28d50fe&id=1996`;
    
    // Creating an AJAX call for the specific movie button being clicked
    $.ajax({
        url: queryURL,
        method: "GET"
    }).then(function (response) {
        console.log(response)
        const backVideo = response.hits[0].videos.large.url
        console.log(backVideo)
        $("#vidSource").attr("src", backVideo)
    })
}
backroundVideo()

</script>
<script src="js/landing.js"></script>

