<div class="container">
    <video autoplay muted loop id="myVideo"><source class="vidSource" src="img/beach.mp4" type="video/mp4"></video>
    <div class="row text-center">
        <div id="box1" class="box1 col-md-6">
            <h2 class="box1H2">Login</h2>
            <div class="loginForm">
                <form class="login">
                    <h3>Welcome Back</h3>
                    <div class="form-group">

                        <input type="email" class="form-control" id="logEmail" placeholder="Email">
                    </div>
                    <div class="form-group">

                        <input type="password" class="form-control" id="logPass" placeholder="Password">
                    </div>
                    <button type="submit" id="loginBtn" class="btn btn-default">Enter DownStream</button>
                </form>
            </div>
        </div>
        <div id="box2" class="box2 col-md-6">
            <h2 class="box2H2">Create User</h2>
            <div class="createForm">
                <form class="signup">
                    <div class="form-group">

                        <input type="text" class="form-control" id="name1" placeholder="First Name">
                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" id="name2" placeholder="Last Name">
                    </div>
                    <div class="form-group">

                        <input type="email" class="form-control" id="createEmail" placeholder="Email">
                    </div>
                    <div class="form-group">

                        <input type="password" class="form-control" id="createPass" placeholder="Password">
                    </div>
                    <div class="form-group">

                        <input type="password" class="form-control" id="confirmPass" placeholder="Confirm Password">
                    </div>
                    <button type="submit" id="createBtn" class="btn btn-default">Create User</button>
                </form>
            </div>
        </div>
    </div>
    <div class="brandStatement text-center">
        <h1><Strong class="logo">downStream</Strong></h1>
         <h2 class="smallLogo">Better Documents.</h2>
         <h2 class="smallLogo2">Better Messaging.</h2>
    </div>
</div>
<script src="js/landing.js"></script>