/* body {
    position: relative;
} */
.loaderRow {
    margin-top: 5rem;
}

.scrollspy {
    overflow-y: scroll;
    position: relative;
    height: 20rem;
}
.streamId {
    background: whitesmoke;
    display: block;
    border-radius: .5rem;
    margin-top: .5rem;
    width: 90%;
    margin-left: 5%;
}
.contentBox {
    width: 100%;
    height: 100%;
    background: whitesmoke;
    display: block;
    margin: auto;
    position: relative;
    border-radius: .5rem;
}
#toId {
    width: 34em;
    margin-top: 1em;
}
#messagesId {
    width: 38em;
    margin-top: 1em;
    margin-bottom: 0px;
    height: 15em;
    margin-left: 2em;
}
.searchLabel{
    margin-top: 1.5em;
    margin-left: 1em;
    font-weight: 600;
}
.streamTotal{
    width: 100%;
    height: 8em;
    display: block;
    position: relative;
    background-color: whitesmoke;
    margin-top: 1em;
    border-radius: .5rem;
}