/* body {
    position: relative;
} */
.loaderRow {
    margin-top: 2rem;
}

.scrollspy {
    overflow-y: scroll;
    position: relative;
    height: 28rem;
}
.streamId {
    background: whitesmoke;
    display: block;
    border-radius: .5rem;
    margin-top: .5rem;
    width: 90%;
    margin-left: 5%;
    font-size: x-large;
}
.contentBox {
    width: 100%;
    height: 100%;
    background: whitesmoke;
    display: block;
    margin: auto;
    position: relative;
    border-radius: .5rem;
}
#toId {
    width: 18em;
    margin-top: 1em;
}
.searchBtn{
    margin-top: 1em;
}
.messageLine{
    margin-left: 1em;
}
#messagesId {
    width: 38em;
    margin-top: 1em;
    margin-bottom: 0px;
    height: 15em;
    margin-left: 2em;
}
.searchLabel{
    margin-top: 1.5em;
    margin-left: 1em;
    font-weight: 600;
}
.createBtn {
    margin-left: 6.5em;
}
#createStreamForm{
    margin-top: 1rem;
    width: 100%;
}
#streamUser{
    width: 30rem;
}
#downstreamUser{
    width: 60%;
    margin-top: 1rem;
    margin-left: 3.5rem;
    display: block;
    background-color: white;
    border: solid black .2rem;
    border-radius: .5rem;
}
.addUserBtn {
    margin-left: 4rem;
    width: 4rem;
    margin-top: 1rem;
    border: solid black .2rem;
    border-radius: .5rem;
}

