
body{
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
}
a {
    color: black;
}
a:hover{
    color: black;
    text-decoration: none;
}
/* landing.html styling */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
.box2 {
    width:25%;
    height:10%;
    display:block;
    border-radius: .5em;
    background:whitesmoke;
    position:absolute;
    right: 20em;
    top: 11em;
    transition:all 0.3s linear;
}
.box1 {
    width:25%;
    height:10%;
    display:block;
    border-radius: .5em;
    background:whitesmoke;
    position:absolute;
    left:20em;
    top:11em;
    transition:all 0.3s linear;
}   
.logo{
    font-family: 'Comfortaa', cursive;
}
.show {
    width:25%;
    height:65%;
}
.box1H2, .box2H2{
    margin-top: .5em;
    cursor: pointer;
} 
.createForm, .loginForm {
    display: none;
    width: 90%;
    margin-left: 5%;
} 
#loginBtn, #createBtn {
    border: black solid .1em ; 
    /* border-width: .1em ; 
        border-style: solid;
        border-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%); */
}
.brandStatement{
    position:absolute;
    left: 19.5em;
    top: 1em;
    width: 54%;
}
.smallLogo{
    font-size: 1em;
    margin-left: 7em;
    font-weight: 600;
}
.smallLogo2{
    font-size: 1em;
    margin-left: 7em;
    font-weight: 600;
}
/* user-dashboard.html styling */
.navBar{
    width: 100%;
    height: 6rem;
    background:whitesmoke;
    display:block;
    margin:auto;
    position:relative;
    border-radius: .5rem;
}
#dStream{
    margin-top: 1em;
    margin-left: 1em;
    cursor: pointer;
    font-weight: 900;
    font-family: 'Comfortaa', cursive;
}
#streams, #rafts {
    margin-top: 1.3em;
    margin-left: 1em;
    cursor: pointer;
}
#logout {
    font-weight: 400;
    margin-top: 2.3em;
    margin-left: 1em;
    cursor: pointer;
}
.welcomeBar{
    width: 80%;
    height: 2.5rem;
    background: whitesmoke;
    display: block;
    margin: auto;
    position: relative;
    border-radius: .5rem;
    margin-top: 2rem;
}
.welcomeLine{
    font-weight: 600;
    margin-top: 1em;
}
.accountRow {
    margin-top: 1rem;
}
#updateUser, #streamsPage, #raftsPage {
    width: 100%;
    height: 2.2rem;
    background: whitesmoke;
    display: block;
    margin: auto;
    position: relative;
    border-radius: .5rem;
    margin-top: 2rem;
    color: black;
}

/* account.html details */
#first, #last, #email {
    width: 100%;
    height: 2.2rem;
    background: whitesmoke;
    display: block;
    margin: auto;
    position: relative;
    border-radius: .5rem;
    margin-top: 2rem;
}
.updateForm {
    margin-left: 9rem;
    width: 100%;
}