<div class="navBar">
    <div class="row">
        <div class="col-md-3">
            <h3 id="dStream"><a href="/dashboard">downStream</a></h3>
        </div>
        <div class="col-md-3">
            <h4 id="streams"><a href="/loader/streams">Streams</a></h4>
        </div>
        <div class="col-md-3">
            <h4 id="rafts"><a href="/loader/rafts">Rafts</a></h4>
        </div>
        <div class="col-md-2">
            <h6 id="logout"><a href="/api/auth/logout">Logout</a></h6>
        </div>
    </div>
</div>