<div id="createStream" class="row">
    <form id="createStreamForm">
        <span><input id="streamUser" type="text" placeholder="Stream Users"></span>
        <button class="newStream">Create</button>
    </form>
    <div class="row" id="downstreamUser" data-UserId="">
        <div class="col-md-7">
            <h4 class="userTag">DownStream User</h4>
        </div>

    </div>
    <button class="addUserBtn"><i class="fas fa-user-plus"></i></button>
    <div class="row" id="downstreamUser" data-UserId="">
        <div class="col-md-7">
            <h4 class="userTag">DownStream User</h4>
        </div>

    </div>
    <button class="addUserBtn"><i class="fas fa-user-plus"></i></button>
    <div class="row" id="downstreamUser" data-UserId="">
        <div class="col-md-7">
            <h4 class="userTag">DownStream User</h4>
        </div>

    </div>
    <button class="addUserBtn"><i class="fas fa-user-plus"></i></button>
    <div class="row" id="downstreamUser" data-UserId="">
        <div class="col-md-7">
            <h4 class="userTag">DownStream User</h4>
        </div>

    </div>
    <button class="addUserBtn"><i class="fas fa-user-plus"></i></button>
    <div class="row" id="downstreamUser" data-UserId="">
        <div class="col-md-7">
            <h4 class="userTag">DownStream User</h4>
        </div>

    </div>
    <button class="addUserBtn"><i class="fas fa-user-plus"></i></button>
    

</div>